@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Dev defined colors */
  --bg-color-primary: #fff;
  --bg-color-secondary: #fff;
  --text-color: #333;
  --primary-theme-color: #00a0e6;
  --secondary-theme-color: #44c8f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color-primary: #fff;
    --bg-color-secondary: #fff;
    --text-color: #333;
    --primary-theme-color: #00a0e6;
    --secondary-theme-color: #44c8f4;
  }
}

body {
  color: rgb(var(--text-color));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--bg-color-secondary))
    )
    rgb(var(--bg-color-primary));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.primary-bg {
  background-color: var(--bg-color-primary) !important;
}

.secondary-bg {
  background-color: var(--bg-color-secondary) !important;
}

.text-color {
  color: var(--text-color) !important;
}

.primary-theme-bg {
  background-color: var(--primary-theme-color) !important;
}

.primary-theme-text {
  color: var(--primary-theme-color) !important;
}

.secondary-theme-bg {
  background-color: var(--primary-theme-color) !important;
}

.notification-badge {
  background-color: red;
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
}
